<!DOCTYPE html>
<html ng-app="myApp">
<head>

	<title></title>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.min.js"></script>
	<script type="text/javascript" src="scripts.js"></script>
</head>
<body ng-controller="myController">

<input type="text" ng-model="sortInput">

<table border=1>
	<thead>
		<th><a href="" ng-click="sortField='name'; reverse = !reverse">Country Name</th>
		<th>Country Leader</th>
		<th>Flag Colors</th>
	</thead>
	<tr ng-repeat="country in countries | filter:sortInput | orderBy: 'name' track by $index">
		<td><a href="" ng-click="removeCountry($index)">{{country.name}}</td>
		<td>{{country.president}}</td>
		<td>{{country.flag}}</td>
	</tr>
	<form ng-submit="addCountry();">
		<td>Name:<input type="text" ng-model="name">
		President:<input type="text" ng-model="president">
		Flag Color:<input type="text" ng-model="flag">
		<input type="submit" value="New Country">
	</form>
</table>
	
</body>
</html>